article {
    background: url(../assets/mushroom.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #EE1212;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px black;
}

nav {
    color: #EE1212;
    padding: 10px;
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 2px 1px black;
}

.copyright {
    text-align: center;
}