<nav class="navbar navbar-inverse bg-inverse" ng-controller="navCtrl">
    <a class="navbar-brand" href="#!/mushroom">MycoMindr</a>
    <form class="form-inline" class="input-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="searchText">
        <button class="btn btn-outline-success my-2 my-sm-0" type="radio">Poisonous</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="radio">Non-Poisonous</button>
    </form>
</nav>

<div class="container-fluid">
    <div ng-repeat="item in mushrooms | filter:searchText">
        <h4>{{item.name}}</h4>
    </div>
</div>

<!-- 
        <div class="input-group" ng-show="showSearch">
          <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
          <input type="text" class="form-control" placeholder="Search" ng-model="searchText.search">
        </div>
    </div> -->